
/* discussion component */
.discussions__container {
  width: 540px;
}

.discussion__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  padding: 24px 30px;
  border: 1px solid var(--line);
  border-radius: 14px;
  box-shadow: 1px 2px 5px rgba(30, 30, 30, .05);
  background-color: var(--list-background);
}

.discussion__avatar--wrapper {
  position: relative;
}

.discussion__likes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: url(../assets/images/heart.png) -60px 0px / auto 60px no-repeat;
  font-size: 16px;
  color: darkred;
  cursor: pointer;
}

.discussion__likes.checked {
  background-position: 0 0;
  color: #fff;
}

.discussion__avatar--image {
  width: 48px;
  height: auto;
  border-radius: 50%;
}

.discussion__content {
  flex: 1 1 380px;
  padding: 4px 24px;
}

.discussion__title {
  margin-bottom: 10px;
}

.discussion__information {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #666;
}

.discussion__answered {
  display: none;
}

.discussion__answered.opened {
  flex: 1 0 30px;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  margin-top: 20px;
  padding-top: 14px;
  border-top: 1px dashed #ccc;
  font-size: 15px;
}
