* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background: var(--background);
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}


.app[data-theme='light-mode'] {
  --text: #111;
  --line: #eee;
  --background: #fff;
  --container-background: palegreen;
  --container-border: yellowgreen;
  --form-button: blueviolet;
  --form-button-text: #fff;
  --list-background: #fff;
  --page-background:blueviolet;
  --page-text: #fff;
}

.app[data-theme='dark-mode'] {
  --text: #fff;
  --line: #333;
  --background: #151515;
  --container-background: slateblue;
  --container-border: slateblue;
  --form-background: #fff;
  --form-button: yellow;
  --form-button-text: #111;
  --list-background: #202020;
  --page-background: yellow;
  --page-text: #333;
}

li {
  list-style: none;
}

h2 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

input,
textarea {
  padding: 10px 14px;
  border-radius: 8px;
}
